[user]
	name = RobinShi
	email = coolwind81@gmail.com
[core]
	excludesfile = /home/robin/.gitignore_global
	editor = vim
[merge]
	tool = vimdiff
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
