# ignore all directories and files 
*/
/*

# readme
!/README

# bash related files
!.bashrc

# vim related files
!.vimrc
#!.gvimrc
!/.vim/
!/.vim/**/
!/.vim/**/*
/.vim/.netrwhist

# git related files
!.gitconfig
!.gitignore_global
!.gitignore

# ctags
!.ctags
